@media (max-width: 1000px) {
  

  
}

@media (max-width: 670px) {
  header ul {
    display: none;
  }

  .menu-icon {
    display: block;
    background-color: rgb(180, 191, 200);
    float: right;
    color: white;
    padding-top: 10px;
    padding-right: 10px;
  }

  .menu-icon:hover {
    cursor: pointer;
  }

  /* .menu-icon:active {
    header ul {
      display: block;
    }
  } */

  .hobby {
    display: block;
  }

  .hobby img {
    width: 100%;
  }

  .hobby p {
    width: 100%;
  }

  .hobby-wrapper {
    /* text-align: center; */
    margin: 0 auto;
  }

  .strong {
    width: 100%;
  }
  
}